html * {
  background: rgba(0, 0, 0, 0.1) !important;
}

atom-pane, atom-panel, atom-notification {
  background: rgba(0, 0, 0, 0.6) !important;
}

atom-overlay > * {
  background: rgba(0, 0, 0, 0.9) !important;
}

atom-text-editor::shadow {
  .cursor-line {
    background-color: rgba(0, 0, 0, 0.3) !important;
  }
  .selection .region {
    background-color: rgba(0, 0, 0, 0.6) !important;
  }
  .gutter {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
}
